<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= page.type ? page.type : page.path.slice(0, -5) %>">
  <div class="article-entry" itemprop="articleBody">
    <div class="article-meta">
      <time class="article-date" datetime="<%= date_xml(post.date) %>">Updated time: <%= date(post.date, 'DD/MM/YYYY') %></time>
    </div>
    <%- post.content %>
  </div>
</article>