<header id="header">
  <div class="navbar">
    <a id="logo" href="/">
      <img src="<%= config.root %>/images/logo.png" />
    </a>
    <div class="main-nav">
      <ul class="links">
        <li><a href="/weex-website/guide"><%= _p('index.guide') %></a></li>
        <li><a href="/weex-website/reference"><%= _p('index.reference') %></a></li>
        <li><a href="/weex-website/showcase"><%= _p('index.showcase') %></a></li>
        <li><a href="/weex-website/download"><%= _p('index.download') %></a></li>
      </ul>
      <ul class="info">
        <li><a href="https://baichuan.taobao.com/" target="_blank"><span class="btn-baichuan iconfont icon-baichuan"></span></a></li>
        <li><a href="https://github.com/alibaba/weex-website/" target="_blank"><span class="btn-github iconfont icon-github"></span></a></li>
      </ul>
      <ul class="tools">
        <li><a class="btn-search"><span class="iconfont icon-search"></span></a></li>
        <li><a class="btn-menu"><span class="iconfont icon-nav"></span></a></li>
      </ul>
    </div>
  </div>
</header>