<div id="sidebar">
  <div class="sidebar-backdrop"></div>
  <div class="sidebar-menu">
    <% if (page_type === 'index') { %>
      <ul class="main-nav">
        <li>
          <a class="" href="/weex/guide/index.html">
            <%= _p('index.guide') %>
          </a>
        </li>
        <li>
          <a class="" href="/weex/reference/index.html">
            <%= _p('index.reference') %>
          </a>
        </li>
        <li>
          <a href="/weex/showcase">
            <%= _p('index.showcase') %>
          </a>
        </li>
        <li>
          <a href="/weex/download">
            <%= _p('index.download') %>
          </a>
        </li>
        <li>
          <a href="/weex/download">
            <%= _p('index.baichuan') %>
          </a>
        </li>
        <li>
          <a href="/weex/download">
            <%= _p('index.github') %>
          </a>
        </li>
      </ul>
    <% } else { %>
      <p>a</p>
    <% } %>
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>