<div id="sidebar" class="<%= page_type === 'index' ? 'index-sidebar' : '' %>">
  <div class="sidebar-menu">
    <% if (page_type =='guide' || page_type === 'reference') { %>
      <%- partial('_partial/post/summary', {post: page, index: false, type: page_type}) %>
    <% } else { %>
      <ul class="main-nav">
        <li>
          <a class="" href="<%- url_for('guide') %>">
            <%= _p('index.guide') %>
          </a>
        </li>
        <li>
          <a class="" href="<%= url_for('references') %>">
            <%= _p('index.references') %>
          </a>
        </li>
        <li>
          <a href="<%= url_for('faq') %>">
            <%= _p('index.faq') %>
          </a>
        </li>
        <li>
            <p><%= _p('index.resources') %></p>
            <ul class="subnav">
              <li>
                <a href="./playground.html">Playground</a>
              </li>
              <li>
                <a href="https://www.npmjs.com/package/weex-devtool" target="_blank">Devtool</a>
              </li>
            </ul>
        </li>
        <li>
          <a href="https://github.com/alibaba/weex" target="_blank">
            <%= _p('index.github') %>
          </a>
        </li>
      </ul>
    <% } %>
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>