<div id="sidebar" class="<%= page_type === 'index' ? 'index-sidebar' : '' %>">
  <div class="sidebar-menu">
    <% if (page_type === 'index') { %>
      <ul class="main-nav">
        <li>
          <a class="" href="<%- url_for('guide') %>">
            <%= _p('index.guide') %>
          </a>
        </li>
        <li>
          <a class="" href="<%= url_for('reference') %>">
            <%= _p('index.reference') %>
          </a>
        </li>
        <li>
          <a href="<%= url_for('faq') %>">
            <%= _p('index.faq') %>
          </a>
        </li>
        <li>
          <a href="<%= url_for('download') %>">
            <%= _p('index.download') %>
          </a>
        </li>
        <li>
          <a href="https://github.com/alibaba/weex" target="_blank">
            <%= _p('index.github') %>
          </a>
        </li>
      </ul>
    <% } else { %>
      <%- partial('_partial/post/summary', {post: page, index: false, type: page_type}) %>
    <% } %>
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>