<div id="sidebar" class="<%= page_type === 'index' ? 'index-sidebar' : '' %>">
  <div class="sidebar-menu">
    <% if (page_type === 'index') { %>
      <ul class="main-nav">
        <li>
          <a class="" href="/weex-website/guide/index.html">
            <%= _p('index.guide') %>
          </a>
        </li>
        <li>
          <a class="" href="/weex-website/reference/index.html">
            <%= _p('index.reference') %>
          </a>
        </li>
        <li>
          <a href="/weex-website/faq">
            <%= _p('index.faq') %>
          </a>
        </li>
        <li>
          <a href="/weex-website/download">
            <%= _p('index.download') %>
          </a>
        </li>
        <li>
          <a href="https://baichuan.taobao.com/" target="_blank">
            <%= _p('index.baichuan') %>
          </a>
        </li>
        <li>
          <a href="https://github.com/alibaba/weex-website/" target="_blank">
            <%= _p('index.github') %>
          </a>
        </li>
      </ul>
    <% } else { %>
      <%- partial('_partial/post/summary', {post: page, index: false, type: page_type}) %>
    <% } %>
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>