<div class="scene header" style="background: #00BDFF;">
  <div class="scene-container">
    <div class="galaxy left">
      <canvas width="560" height="560" id="left-canvas"></canvas>
    </div>
    <div class="galaxy right">
      <canvas width="560" height="560" id="right-canvas"></canvas>
    </div>
    <%- partial('_partial/slider') %>
  </div>
</div>
<div class="scene edge overlength horizon">
  <div class="scene-container">
    <div class="textbox">
      <h2><%= _p('index.edge.title') %></h2>
    </div>
    <div class="sketch-content">
      <div class="inner-box">
        <img src="<%= config.root %>/images/lightweight.svg" alt="Lightweight">
        <h3><%= _p('index.edge.edge1.title') %></h3>
        <p><%= _p('index.edge.edge1.content') %></p>
      </div>
      <div class="inner-box">
        <img src="<%= config.root %>/images/extendable.svg" alt="Extendable">
        <h3><%= _p('index.edge.edge2.title') %></h3>
        <p><%= _p('index.edge.edge2.content') %></p>
      </div>
      <div class="inner-box">
        <img src="<%= config.root %>/images/performance.svg" alt="High Performance">
        <h3><%= _p('index.edge.edge3.title') %></h3>
        <p><%= _p('index.edge.edge3.content') %></p>
      </div>
    </div>
  </div>
</div>

<div class="scene feature">
  <div class="scene-container">
    <div class="feature-content">
      <div class="left-text">
        <h2><%= _p('index.feature.title') %></h2>
        <p><%= _p('index.feature.content') %></p>
      </div>
      <div class="right-box">
        <div class="imgbox phone-layer level1">
        </div>
        <div class="imgbox phone-layer level2">
          <div class="imgbox level2-text"></div>
        </div>
        <div class="imgbox phone-layer level3">
          <div class="imgbox level3-text"></div>
        </div>
        <div class="imgbox phone-layer level4">
          <div class="imgbox level4-text"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="scene cross-platform horizon">
  <div class="scene-container">
    <div class="textbox">
      <h2><%= _p('index.cross_platform.title') %></h2>
      <p><%= _p('index.cross_platform.content') %></p>
    </div>
    <div class="sketch-content">
      <div class="inner-box imgbox ios"></div>
      <div class="inner-box imgbox android"></div>
      <div class="inner-box imgbox h5"></div>
    </div>
  </div>
</div>

<div class="scene supporting-vue horizon">
  <div class="scene-container">
    <div class="textbox">
      <h2><%= _p('index.vue.title') %></h2>
      <p><%= _p('index.vue.content') %></p>
    </div>
    <div class="sketch-content imgbox">
    </div>
  </div>
</div>

<div class="scene schematic horizon">
  <div class="scene-container">
    <div class="textbox">
      <h2><%= _p('index.schematic.title') %></h2>
      <p><%= _p('index.schematic.content') %></p>
    </div>
    <div class="sketch-content imgbox">
    </div>
  </div>
</div>

<div class="scene users horizon overlength">
  <div class="scene-container">
    <div class="textbox">
      <h2><%= _p('index.users.title') %></h2>
    </div>
    <div class="sketch-content">
      <div class="user-logo tmall-logo">
        <h3>Tmall</h3>
        <div class="user-info">
          <h4>Tmall</h4>
          <p>Tmall.com is an open business-to-consumer (B2C) platform enabling businesses world-wide to reach China’s vast and growing consumer market. Tmall.com has established itself as the destination for quality, brand-name goods catering to increasingly sophisticated Chinese consumers and is the most visited B2C online retail website in China.</p>
        </div>
      </div>
      <div class="user-logo tmall-logo">
        <h3>Tmall</h3>
        <div class="user-info">
          <h4>Tmall</h4>
          <p>Tmall.com is an open business-to-consumer (B2C) platform enabling businesses world-wide to reach China’s vast and growing consumer market. Tmall.com has established itself as the destination for quality, brand-name goods catering to increasingly sophisticated Chinese consumers and is the most visited B2C online retail website in China.</p>
        </div>
      </div>
      <div class="user-logo tmall-logo">
        <h3>Tmall</h3>
        <div class="user-info">
          <h4>Tmall</h4>
          <p>Tmall.com is an open business-to-consumer (B2C) platform enabling businesses world-wide to reach China’s vast and growing consumer market. Tmall.com has established itself as the destination for quality, brand-name goods catering to increasingly sophisticated Chinese consumers and is the most visited B2C online retail website in China.</p>
        </div>
      </div>
      <div class="user-logo tmall-logo">
        <h3>Tmall</h3>
        <div class="user-info">
          <h4>Tmall</h4>
          <p>Tmall.com is an open business-to-consumer (B2C) platform enabling businesses world-wide to reach China’s vast and growing consumer market. Tmall.com has established itself as the destination for quality, brand-name goods catering to increasingly sophisticated Chinese consumers and is the most visited B2C online retail website in China.</p>
        </div>
      </div>
      <div class="user-logo tmall-logo">
        <h3>Tmall</h3>
        <div class="user-info">
          <h4>Tmall</h4>
          <p>Tmall.com is an open business-to-consumer (B2C) platform enabling businesses world-wide to reach China’s vast and growing consumer market. Tmall.com has established itself as the destination for quality, brand-name goods catering to increasingly sophisticated Chinese consumers and is the most visited B2C online retail website in China.</p>
        </div>
      </div>
      <div class="user-logo tmall-logo">
        <h3>Tmall</h3>
        <div class="user-info">
          <h4>Tmall</h4>
          <p>Tmall.com is an open business-to-consumer (B2C) platform enabling businesses world-wide to reach China’s vast and growing consumer market. Tmall.com has established itself as the destination for quality, brand-name goods catering to increasingly sophisticated Chinese consumers and is the most visited B2C online retail website in China.</p>
        </div>
      </div>
      <div class="user-logo tmall-logo">
        <h3>Tmall</h3>
        <div class="user-info">
          <h4>Tmall</h4>
          <p>Tmall.com is an open business-to-consumer (B2C) platform enabling businesses world-wide to reach China’s vast and growing consumer market. Tmall.com has established itself as the destination for quality, brand-name goods catering to increasingly sophisticated Chinese consumers and is the most visited B2C online retail website in China.</p>
        </div>
      </div>
      <div class="user-logo tmall-logo">
        <h3>Tmall</h3>
        <div class="user-info">
          <h4>Tmall</h4>
          <p>Tmall.com is an open business-to-consumer (B2C) platform enabling businesses world-wide to reach China’s vast and growing consumer market. Tmall.com has established itself as the destination for quality, brand-name goods catering to increasingly sophisticated Chinese consumers and is the most visited B2C online retail website in China.</p>
        </div>
      </div>
    </div>
    <div class="more">
      <a class="more" href="">More</a>
    </div>
  </div>
</div>

<div class="scene feedback horizon overlength">
  <div class="scene-container">
    <div class="textbox">
      <h2><%= _p('index.feedback.title') %></h2>
    </div>
    <div class="sketch-content">
      <div class="user-feedback">
        <img class="avatar" src="<%= config.root %>/images/avatar.png" alt="avatar">
        <p>"A framework for building Mobile cross-platform UI.""A framework for building Mobile cross-platform UI."</p>
      </div>
      <div class="user-feedback">
        <img class="avatar" src="<%= config.root %>/images/avatar.png" alt="avatar">
        <p>"A framework for building Mobile cross-platform UI.""A framework for building Mobile cross-platform UI."</p>
      </div>
      <div class="user-feedback">
        <img class="avatar" src="<%= config.root %>/images/avatar.png" alt="avatar">
        <p>"A framework for building Mobile cross-platform UI."</p>
      </div>
      <div class="user-feedback">
        <img class="avatar" src="<%= config.root %>/images/avatar.png" alt="avatar">
        <p>"A framework for building Mobile cross-platform UI."</p>
      </div>
      <div class="user-feedback">
        <img class="avatar" src="<%= config.root %>/images/avatar.png" alt="avatar">
        <p>"A framework for building Mobile cross-platform UI."</p>
      </div>
      <div class="user-feedback">
        <img class="avatar" src="<%= config.root %>/images/avatar.png" alt="avatar">
        <p>"A framework for building Mobile cross-platform UI."</p>
      </div>
    </div>
    <div class="go-2-doc">
      <a href="/docs/get-started.html" class="button get-started"><%= _p('index.get_started') %> →</a>
    </div>
  </div>
</div>

<%- js('js/swiper.min') %>

<script>
var swiper = new Swiper('.swiper-container', {
  nextButton: '.swiper-button-next',
  prevButton: '.swiper-button-prev',
  slidesPerView: 1,
  spaceBetween: 30,
  loop: true,
  autoplay: false,
  autoplayDisableOnInteraction: false
})
</script>
    