<%- partial('_partial/head') %>
<body id="<%= page.path === 'index.html' ? 'index' : 'docs' %>">
  <%- body %>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after-footer') %>
  <%- js('js/velocity.js') %>
  <%- js('js/common.js') %>
</body>
</html>
